{ns hl7-fhir-r5-core.value-set.adverse-event-seriousness,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Overall seriousness of this event for the patient.",
            :zen.fhir/version "0.6.17",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/adverse-event-seriousness",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/adverse-event-seriousness",
            :version "5.0.0"}}
