{ns hl7-fhir-r5-core.value-set.medication-admin-location,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "MedicationAdministration Location Codes",
            :zen.fhir/version "0.6.17",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/medication-admin-location",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/ValueSet/medication-admin-location",
            :version "5.0.0"}}
